.main {
  
}

.welcome {
  display: flex;
  flex-direction: row;
}

.welcome .introduction {
  display: flex;
  flex-direction: column;
  flex: 3;
  white-space: pre-line;
}

.welcome .introduction h1 {
  font-size: 46px;
  margin-bottom: 24px;
}

.welcome .introduction p {
  font-size: 20px;
  margin-bottom: 24px;
}


.welcome .image {
  display: inherit;
  justify-content: end;
  flex: 1;
  padding: 0px 56px;
  /* change later */
}